.logo-container {
  z-index: 0;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50px;
  // bottom: 50px;
  right: 5%;
  left: auto;
  margin: auto;
  opacity: 0;
  background-color: rgb(255, 255, 84); /* Set the background color to white */
  // mix-blend-mode: multiply;
  

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    opacity: 0;
    animation-delay: 3;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
    scale: 1.2;
    background-color: white; /* Set the background color to white */
    // mix-blend-mode: multiply;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10px;
}
